.centrado {
  text-align: center;
}


.text-sm { font-size: 0.9rem; }
.text-md { font-size: 1.1rem; }
.text-xl { font-size: 1.4rem; }
.text-2xl { font-size: 1.8rem; }
.text-3xl { font-size: 2.2rem; }
.text-4xl { font-size: 2.7rem; }


.font-black { font-weight: 900; }
.font-bold { font-weight: 700; }
.font-semibold { font-weight: 600; }
.font-normal { font-weight: 400; }
.font-light { font-weight: 300; }
.font-thin { font-weight: 100; }

